@import '../utils/Colors.scss';
@import '../utils/Utils.scss';
$background_screen-git: '../assets/arbresC.webp';

.sectionProfilGitHub {
    background: linear-gradient(  #fcfcfc, #f5f2f2);
    max-width: 2000px; 
    margin: auto;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: $borderSection;
    

    &-screen {
        background-image: url($background_screen-git);
        border-top: none;
    }
}