$color_NavAndTaskbar: #78a128d4;
$color_font-header: #0e2b07;
$color_background-screenPicture: #e7e70a;
$color_font:#58775f;
$color_font-screen: white;
$color_fontMenu: #094d04d4;
$color_fontMenuTabMobile: white;
$color_background: #98c19859;
$color_background-screen: rgb(45 68 41 / 77%);

$color-Title1ParamTextStroke: 2px rgb(9 77 4 / 83%);
$color_title1TabMobile: #cdcdcd;